<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ModuFlex | Main Page</title>
    <link rel="stylesheet" href="static/styles.css">
    <script src="static/app.js" defer></script>
</head>

<body>
    <div class='title-moduflex'>
        <h1 id="title">ModuFlex</h1>
        <div class="change-anim-text">
            <span id="typing-text"></span>
            <span id="cursor"></span>
        </div>
    </div>

    <div class="plugins">
        <h2 id="title">Плагины</h1>
    </div>
</body>

</html>